@charset "UTF-8";
/* line 3, ../custom.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* line 8, ../custom.scss */
*:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 15, ../custom.scss */
html {
  height: 100%;
}
/* line 18, ../custom.scss */
html body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background: #fff;
  font-size: 100%;
  color: #4d4d4d;
  height: 100%;
}
/* line 25, ../custom.scss */
html body a {
  color: gray;
  text-decoration: none;
  outline: none;
}
/* line 30, ../custom.scss */
html body a:hover {
  color: #000;
}
/* line 35, ../custom.scss */
html body img {
  border: none;
  line-height: 0;
  vertical-align: bottom;
}
/* line 41, ../custom.scss */
html body .container {
  position: relative;
  right: 0px;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
/* line 50, ../custom.scss */
html body .container.slideRight {
  right: 240px;
  cursor: url(img/cursor.cur), default;
}
/* line 55, ../custom.scss */
html body .container h1 {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 100%;
  z-index: 1000;
}
/* line 62, ../custom.scss */
html body .container h1 img {
  width: 10%;
  min-width: 70px;
  height: auto;
}
/* line 67, ../custom.scss */
html body .container h1 img#ver2 {
  margin-left: 2.5%;
  padding-left: 2.5%;
  border-left: #fff solid 1px;
  width: 18%;
  min-width: 110px;
}
/* line 77, ../custom.scss */
html body .container .menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 240px;
  height: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #133a5e;
  cursor: default;
}
/* line 88, ../custom.scss */
html body .container .menu-panel .menu-toc {
  list-style: none;
}
/* line 91, ../custom.scss */
html body .container .menu-panel .menu-toc dt {
  background: #0a2034;
  font-size: 180%;
  padding: 20px;
  font-weight: 300;
  color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
/* line 102, ../custom.scss */
html body .container .menu-panel .menu-toc dd a {
  display: block;
  color: #fff;
  font-size: 110.0%;
  line-height: 350%;
  padding: 0 20px;
  cursor: pointer;
  background: #133a5e;
  border-bottom: 1px solid #0a2034;
  cursor: pointer;
}
/* line 113, ../custom.scss */
html body .container .menu-panel .menu-toc dd a:hover {
  background: #2c7eff;
}
/* line 118, ../custom.scss */
html body .container .menu-panel .menu-toc dd.menu-toc-current a {
  background: #2c7eff;
}
/* line 124, ../custom.scss */
html body .container .menu-panel div {
  margin-top: 20px;
}
/* line 127, ../custom.scss */
html body .container .menu-panel div a {
  text-transform: uppercase;
  font-size: 70%;
  line-height: 1;
  padding: 5px 20px;
  display: block;
  border: none;
  color: #f2f2f2;
  letter-spacing: 1px;
  font-weight: 800;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}
/* line 139, ../custom.scss */
html body .container .menu-panel div a:hover {
  background: inherit;
  color: #fff;
  text-shadow: none;
}
/* line 148, ../custom.scss */
html body .container .bb-custom-wrapper {
  width: 100%;
  height: 100%;
}
/* line 152, ../custom.scss */
html body .container .bb-custom-wrapper nav {
  position: absolute;
  top: 15px;
  right: 130px;
  z-index: 1000;
}
/* line 158, ../custom.scss */
html body .container .bb-custom-wrapper nav span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 32px;
  height: 32px;
  background: #133a5e;
  border-radius: 50%;
  color: #fff;
  line-height: 34px;
  text-align: center;
  speak: none;
  font-weight: bold;
  cursor: pointer;
}
/* line 174, ../custom.scss */
html body .container .bb-custom-wrapper nav span:hover {
  background: #1c5488;
}
/* line 178, ../custom.scss */
html body .container .bb-custom-wrapper nav span:last-child {
  left: 20px;
}
/* line 184, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock {
  width: 100%;
  height: 100%;
}
/* line 190, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1000;
}
/* line 198, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content h2 img {
  display: block;
  margin: -10% auto 0 auto;
  width: 20%;
  min-width: 200px;
  height: auto;
}
/* line 207, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller, html body .container .bb-custom-wrapper .bb-bookblock .content ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  background-color: #fff;
}
/* line 216, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller header, html body .container .bb-custom-wrapper .bb-bookblock .content ul header {
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #000;
  background: none;
}
/* line 224, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller header h3, html body .container .bb-custom-wrapper .bb-bookblock .content ul header h3 {
  font-weight: 300;
  font-size: 400%;
}
/* line 229, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller header p, html body .container .bb-custom-wrapper .bb-bookblock .content ul header p {
  font-weight: 300;
  font-size: 100%;
}
/* line 234, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller ul, html body .container .bb-custom-wrapper .bb-bookblock .content ul ul {
  padding: 7.0%;
}
/* line 238, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller ul li, html body .container .bb-custom-wrapper .bb-bookblock .content ul ul li {
  width: 12.5%;
  height: 12.5%;
  padding: 1px 1px 0 0;
  list-style-type: none;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 247, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller ul li:nth-of-type(8n), html body .container .bb-custom-wrapper .bb-bookblock .content ul ul li:nth-of-type(8n) {
  padding-right: 0;
}
/* line 251, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller ul li img, html body .container .bb-custom-wrapper .bb-bookblock .content ul ul li img {
  width: 100%;
  height: auto;
}
/* line 256, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section, html body .container .bb-custom-wrapper .bb-bookblock .content ul section {
  width: 50%;
  padding: 7.0%;
  border-top: gray 2px dotted;
  border-right: gray 1px dotted;
  background-color: #fff;
}
/* line 265, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section:nth-of-type(1), html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section:nth-of-type(2) {
  border-top: none;
}
/* line 271, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content ul section:nth-of-type(1), html body .container .bb-custom-wrapper .bb-bookblock .content ul section:nth-of-type(2) {
  border-top: none;
}
/* line 276, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section:nth-of-type(2n), html body .container .bb-custom-wrapper .bb-bookblock .content ul section:nth-of-type(2n) {
  border-right: none;
  border-left: gray 1px dotted;
}
/* line 281, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section h4, html body .container .bb-custom-wrapper .bb-bookblock .content ul section h4 {
  text-align: center;
  font-size: 200%;
  font-weight: 400;
  padding: 0 10%;
  color: #133a5e;
}
/* line 289, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section h4:after, html body .container .bb-custom-wrapper .bb-bookblock .content ul section h4:after {
  content: '―';
  display: block;
  font-size: 200%;
  font-weight: 400;
  padding: 0 10%;
  color: #133a5e;
}
/* line 298, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section img, html body .container .bb-custom-wrapper .bb-bookblock .content ul section img {
  width: 100%;
  height: auto;
}
/* line 303, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section p, html body .container .bb-custom-wrapper .bb-bookblock .content ul section p {
  font-size: 120%;
  line-height: 1.6;
  font-weight: 300;
  text-align: justify;
  background-color: #fff;
  padding-top: 2em;
}
/* line 312, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table, html body .container .bb-custom-wrapper .bb-bookblock .content ul section table {
  width: 100%;
  border-collapse: collapse;
  border: #b3b3b3 1px solid;
}
/* line 318, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table caption, html body .container .bb-custom-wrapper .bb-bookblock .content ul section table caption {
  color: #133a5e;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 3em;
}
/* line 327, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table th, html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table td {
  border-right: #b3b3b3 1px dotted;
  padding: 0.5em;
}
/* line 335, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content ul section table th, html body .container .bb-custom-wrapper .bb-bookblock .content ul section table td {
  border-right: #b3b3b3 1px dotted;
  padding: 0.5em;
}
/* line 341, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table th, html body .container .bb-custom-wrapper .bb-bookblock .content ul section table th {
  font-weight: 300;
}
/* line 345, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table thead, html body .container .bb-custom-wrapper .bb-bookblock .content ul section table thead {
  background-color: #133a5e;
  color: #fff;
}
/* line 350, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table tbody td, html body .container .bb-custom-wrapper .bb-bookblock .content ul section table tbody td {
  text-align: center;
}
/* line 356, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table tbody tr:nth-of-type(2n) th, html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section table tbody tr:nth-of-type(2n) td {
  background-color: #dfebff;
}
/* line 363, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content ul section table tbody tr:nth-of-type(2n) th, html body .container .bb-custom-wrapper .bb-bookblock .content ul section table tbody tr:nth-of-type(2n) td {
  background-color: #dfebff;
}
/* line 368, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section ul, html body .container .bb-custom-wrapper .bb-bookblock .content ul section ul {
  padding: 0;
}
/* line 372, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section ul li, html body .container .bb-custom-wrapper .bb-bookblock .content ul section ul li {
  width: 25%;
  height: 25%;
}
/* line 377, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock .content .scroller section ul li:nth-of-type(4n), html body .container .bb-custom-wrapper .bb-bookblock .content ul section ul li:nth-of-type(4n) {
  padding-right: 0;
}
/* line 384, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock #item4 section:nth-of-type(2) {
  border-top: gray 2px dotted;
}
/* line 388, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock #item4 section:nth-of-type(2n) {
  border-left: none;
  border-right: gray 1px dotted;
}
/* line 393, ../custom.scss */
html body .container .bb-custom-wrapper .bb-bookblock #item4 section:nth-of-type(2n+1) {
  border-right: none;
  border-left: gray 1px dotted;
}
/* line 400, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  background: #133a5e;
  border-radius: 50%;
  color: #fff;
  line-height: 34px;
  text-align: center;
  speak: none;
  font-weight: bold;
  cursor: pointer;
  text-indent: -9000px;
  -webkit-transition: all .4s;
          transition: all .4s;
  box-sizing: border-box;
}
/* line 419, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents:hover {
  background: #1c5488;
}
/* line 423, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents span {
  width: 60%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
/* line 429, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents span:nth-of-type(1) {
  position: absolute;
  top: 9px;
  left: 20%;
  z-index: 1000;
}
/* line 436, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents span:nth-of-type(2) {
  position: absolute;
  top: 15px;
  left: 20%;
  z-index: 1000;
}
/* line 443, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents span:nth-of-type(3) {
  position: absolute;
  top: 21px;
  left: 20%;
  z-index: 1000;
}
/* line 452, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents.active span:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
  -ms-transform: translateY(6px) rotate(-45deg);
      transform: translateY(6px) rotate(-45deg);
}
/* line 457, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents.active span:nth-of-type(2) {
  opacity: 0;
}
/* line 461, ../custom.scss */
html body .container .bb-custom-wrapper #tblcontents.active span:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
      transform: translateY(-6px) rotate(45deg);
}
/* line 470, ../custom.scss */
html body aside {
  position: fixed;
  top: 300px;
  left: 0;
  z-index: 1000;
}
/* line 476, ../custom.scss */
html body aside a {
  opacity: 0.7;
  display: block;
  width: 90px;
  height: 90px;
  background: #133a5e;
  border-radius: 50%;
  color: #fff;
  font-size: 95%;
  margin: 0 0 50% 10%;
  padding-top: 25px;
  text-align: center;
  border: #fff dashed 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4871af+0,4570c6+50,3565b2+51,1e57b3+100,1e57b3+100,1e57b3+100,2a5eb2+100,3364b2+100,1e57b3+100 */
  background: #4871af;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4871af 0%, #4570c6 50%, #3565b2 51%, #1e57b3 100%, #1e57b3 100%, #1e57b3 100%, #2a5eb2 100%, #3364b2 100%, #1e57b3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #4871af 0%, #4570c6 50%, #3565b2 51%, #1e57b3 100%, #1e57b3 100%, #1e57b3 100%, #2a5eb2 100%, #3364b2 100%, #1e57b3 100%);
  background: linear-gradient(135deg, #4871af 0%, #4570c6 50%, #3565b2 51%, #1e57b3 100%, #1e57b3 100%, #1e57b3 100%, #2a5eb2 100%, #3364b2 100%, #1e57b3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4871af', endColorstr='#1e57b3',GradientType=1 )
  /* IE6-9 fallback on horizontal gradient */
}
/* line 500, ../custom.scss */
html body aside a:hover {
  color: #dfebff;
  opacity: 1;
}
/* line 507, ../custom.scss */
html body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: table;
  width: 100%;
  font-size: 70%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
/* line 519, ../custom.scss */
html body footer p {
  width: 70%;
  padding-left: 1em;
  display: table-cell;
  font-weight: bold;
}
/* line 526, ../custom.scss */
html body footer small {
  display: table-cell;
  text-align: right;
  padding-right: 2em;
  vertical-align: middle;
}
/* line 534, ../custom.scss */
html body #gotop {
  font-size: 120%;
  position: fixed;
  bottom: -50px;
  left: 93%;
  z-index: 1000;
  color: #fff;
  background-color: #133a5e;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
}
/* line 550, ../custom.scss */
html body #gotop:hover {
  opacity: 1;
}
/* line 556, ../custom.scss */
html.js body {
  overflow: hidden;
}
/* line 559, ../custom.scss */
html.js body .menu-panel {
  position: absolute;
  right: -240px;
}
/* line 564, ../custom.scss */
html.js body .content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  bottom: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 575, ../custom.scss */
html.no-js .container {
  padding-right: 240px;
}
/* line 578, ../custom.scss */
html.no-js .container .bb-custom-wrapper nav span, html.no-js .container .no-js .menu-button {
  display: none;
}
/* line 582, ../custom.scss */
html.no-js .container .content h3 {
  padding: 40px 1% 20px;
}

@media all and (max-width: 800) {
  /* line 590, ../custom.scss */
  .no-js .menu-panel {
    display: none;
  }
  /* line 594, ../custom.scss */
  .no-js .container {
    padding: 0;
  }

  /* line 599, ../custom.scss */
  .menu-panel, .content {
    font-size: 75%;
  }
}
