@charset "UTF-8";

* {
  box-sizing: border-box;
  padding	: 0;
  margin	: 0;
  
  &:after, &:before {
    box-sizing	: border-box;
    padding		: 0;
    margin		: 0;
  }
}

html {
  height: 100%;
  
  body {
    font-family	: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    background	: #fff;
    font-size	: 100%;
    color		: #4d4d4d;
    height		: 100%;
	
    a {
      color				: gray;
      text-decoration	: none;
      outline			: none;
	  
      &:hover {
        color: #000;
      }
    }
	
    img {
      border		: none;
      line-height	: 0;
      vertical-align: bottom;
    }
	
    .container {
      position			: relative;
      right				: 0px;
      -webkit-transition: right 0.3s ease-in-out;
      -o-transition		: right 0.3s ease-in-out;
      transition		: right 0.3s ease-in-out;
      width				: 100%;
      height			: 100%;
	  
      &.slideRight {
        right : 240px;
        cursor: url(img/cursor.cur), default;
      }
	  
      h1 {
		position: absolute;
		top		: 1em;
		left	: 1em;
		width	: 100%;
		z-index: 1000;
		
        img {
			width		: 10%;
			min-width : 70px;
			height	: auto;
		  
			&#ver2 {
				margin-left	: 2.5%;
				padding-left: 2.5%;
				border-left : #fff solid 1px;
				width		: 18%;
				min-width	: 110px;
			}
        }
      }
	  
      .menu-panel {
        position	: fixed;
        top			: 0;
        right		: 0;
        z-index 	: 1000;
        width		: 240px;
        height		: 100%;
        text-shadow : 0 1px 1px rgba(0, 0, 0, 0.1);
        background	: #133a5e;
        cursor		: default;
		
        .menu-toc {
          list-style: none;
		  
          dt {
            background	: #0a2034;
            font-size 	: 180%;
            padding		: 20px;
            font-weight	: 300;
            color		: #fff;
            box-shadow	: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
          }
		  
          dd {
			  
            a {
              display		: block;
              color			: #fff;
              font-size		: 110.0%;
              line-height	: 350%;
              padding		: 0 20px;
              cursor		: pointer;
              background	: #133a5e;
              border-bottom	: 1px solid #0a2034;
              cursor		: pointer;
			  
              &:hover {
                background: #2c7eff;
              }
            }
			
            &.menu-toc-current a {
              background: #2c7eff;
            }
          }
        }
		
        div {
          margin-top: 20px;
		  
          a {
            text-transform	: uppercase;
            font-size		: 70%;
            line-height		: 1;
            padding			: 5px 20px;
            display			: block;
            border			: none;
            color			: #f2f2f2;
            letter-spacing	: 1px;
            font-weight		: 800;
            text-shadow		: 0 1px rgba(255, 255, 255, 0.2);
			
            &:hover {
              background	: inherit;
              color			: #fff;
              text-shadow	: none;
            }
          }
        }
      }
	  
      .bb-custom-wrapper {
        width : 100%;
        height: 100%;
		
        nav {
          position	: absolute;
          top		: 15px;
          right		: 130px;
          z-index	: 1000;
		  
          span {
            position	 : absolute;
            top			 : 0;
            right		 : 0;
            z-index		 : 1000;
            width		 : 32px;
            height		 : 32px;
            background	 : #133a5e;
            border-radius: 50%;
            color		 : #fff;
            line-height	 : 34px;
            text-align	 : center;
            speak		 : none;
            font-weight	 : bold;
            cursor		 : pointer;
			
            &:hover {
              background: #1c5488;
            }
			
            &:last-child {
              left: 20px;
            }
          }
        }
		
        .bb-bookblock {
          width : 100%;
          height: 100%;
		  
          .content {
			  
            h2  {
				text-align	: center;
				position	: absolute;
				width		: 100%;
				top			: 50%;
				left		: 0;
				z-index		: 1000;
				
				img {
				  display	: block;
				  margin	: -10% auto 0 auto;
				  width		: 20%;
				  min-width : 200px;
				  height	: auto;
				}
			}
			
            .scroller, ul {
              display			: flex;
              flex-flow			: row wrap;
              justify-content	: flex-start;
              align-items		: stretch;
              width				: 100%;
              background-color	: #fff;
            }
			
            .scroller header, ul header {
              width		 : 100%;
              color		 : #fff;
              text-align : center;
              text-shadow: 0 0 5px #000;
              background : none;
            }
			
            .scroller header h3, ul header h3 {
              font-weight: 300;
              font-size	 : 400%;
            }
			
            .scroller header p, ul header p {
              font-weight: 300;
              font-size	 : 100%;
            }
			
            .scroller ul, ul ul {
              padding: 7.0%;
            }
			
            .scroller ul li, ul ul li {
              width			 : 12.5%;
              height		 : 12.5%;
              padding		 : 1px 1px 0 0;
              list-style-type: none;
              overflow		 : hidden;
              box-sizing	 : border-box;
            }
			
            .scroller ul li:nth-of-type(8n), ul ul li:nth-of-type(8n) {
              padding-right: 0;
            }
			
            .scroller ul li img, ul ul li img {
              width : 100%;
              height: auto;
            }
			
            .scroller section, ul section {
              width				: 50%;
              padding			: 7.0%;
              border-top		: gray 2px dotted;
              border-right		: gray 1px dotted;
              background-color	: #fff;
            }
			
            .scroller section {
              &:nth-of-type(1), &:nth-of-type(2) {
                border-top: none;
              }
            }
			
            ul section {
              &:nth-of-type(1), &:nth-of-type(2) {
                border-top: none;
              }
            }
			
            .scroller section:nth-of-type(2n), ul section:nth-of-type(2n) {
              border-right: none;
              border-left : gray 1px dotted;
            }
			
            .scroller section h4, ul section h4 {
              text-align	: center;
              font-size		: 200%;
              font-weight	: 400;
              padding		: 0 10%;
              color			: #133a5e;
            }
			
            .scroller section h4:after, ul section h4:after {
              content		: '―';
              display		: block;
              font-size		: 200%;
              font-weight	: 400;
              padding		: 0 10%;
              color			: #133a5e;
            }
			
            .scroller section img, ul section img {
              width : 100%;
              height: auto;
            }
			
            .scroller section p, ul section p {
              font-size			: 120%;
              line-height		: 1.6;
              font-weight		: 300;
              text-align		: justify;
              background-color	: #fff;
              padding-top		: 2em;
            }
			
            .scroller section table, ul section table {
              width			 : 100%;
              border-collapse: collapse;
              border		 : #b3b3b3 1px solid;
            }
			
            .scroller section table caption, ul section table caption {
              color		 : #133a5e;
              font-weight: 300;
              font-size	 : 1.5em;
              margin-top : 3em;
            }
			
            .scroller section table {
				
              th, td {
                border-right: #b3b3b3 1px dotted;
                padding		: 0.5em;
              }
            }
			
            ul section table {
				
              th, td {
                border-right: #b3b3b3 1px dotted;
                padding		: 0.5em;
              }
            }
			
            .scroller section table th, ul section table th {
              font-weight: 300;
            }
			
            .scroller section table thead, ul section table thead {
              background-color	: #133a5e;
              color				: #fff;
            }
			
            .scroller section table tbody td, ul section table tbody td {
              text-align: center;
            }
			
            .scroller section table tbody tr:nth-of-type(2n) {
				
              th, td {
                background-color: #dfebff;
              }
            }
			
            ul section table tbody tr:nth-of-type(2n) {
				
              th, td {
                background-color: #dfebff;
              }
            }
			
            .scroller section ul, ul section ul {
              padding: 0;
            }
			
            .scroller section ul li, ul section ul li {
              width : 25%;
              height: 25%;
            }
			
            .scroller section ul li:nth-of-type(4n), ul section ul li:nth-of-type(4n) {
              padding-right: 0;
            }
          }
		  
          #item4 section {
			  
            &:nth-of-type(2) {
              border-top: gray 2px dotted;
            }
			
            &:nth-of-type(2n) {
              border-left : none;
              border-right: gray 1px dotted;
            }
			
            &:nth-of-type(2n+1) {
              border-right: none;
              border-left : gray 1px dotted;
            }
          }
        }
		
        #tblcontents {
          position		: absolute;
          top			: 15px;
          right			: 20px;
          z-index		: 1000;
          width			: 32px;
          height		: 32px;
          background	: #133a5e;
          border-radius : 50%;
          color			: #fff;
          line-height	: 34px;
          text-align	: center;
          speak			: none;
          font-weight	: bold;
          cursor		: pointer;
          text-indent	: -9000px;
          transition	: all .4s;
          box-sizing	: border-box;
		  
          &:hover {
            background: #1c5488;
          }
		  
          span {
            width			: 60%;
            height			: 2px;
            background-color: #fff;
            border-radius	: 2px;
			
            &:nth-of-type(1) {
              position	: absolute;
              top		: 9px;
              left		: 20%;
              z-index	: 1000;
            }
			
            &:nth-of-type(2) {
              position	: absolute;
              top		: 15px;
              left		: 20%;
              z-index	: 1000;
            }
			
            &:nth-of-type(3) {
              position	: absolute;
              top		: 21px;
              left		: 20%;
              z-index	: 1000;
            }
          }
		  
          &.active span {
            &:nth-of-type(1) {
              -webkit-transform : translateY(6px) rotate(-45deg);
              transform			: translateY(6px) rotate(-45deg);
            }
			
            &:nth-of-type(2) {
              opacity: 0;
            }
			
            &:nth-of-type(3) {
              -webkit-transform : translateY(-6px) rotate(45deg);
              transform			: translateY(-6px) rotate(45deg);
            }
          }
        }
      }
    }
	
    aside {
      position	: fixed;
      top		: 300px;
      left		: 0;
      z-index	: 1000;
	  
      a {
        opacity		 : 0.7;
        display		 : block;
        width		 : 90px;
        height		 : 90px;
        background	 : #133a5e;
        border-radius: 50%;
        color		 : #fff;
        font-size	 : 95%;
        margin		 : 0 0 50% 10%;
        padding-top	 : 25px;
        text-align	 : center;
        border		 : #fff dashed 2px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4871af+0,4570c6+50,3565b2+51,1e57b3+100,1e57b3+100,1e57b3+100,2a5eb2+100,3364b2+100,1e57b3+100 */
        background	 : #4871af;
        /* Old browsers */
        background	 : -moz-linear-gradient(-45deg, #4871af 0%, #4570c6 50%, #3565b2 51%, #1e57b3 100%, #1e57b3 100%, #1e57b3 100%, #2a5eb2 100%, #3364b2 100%, #1e57b3 100%);
        /* FF3.6-15 */
        background	 : -webkit-linear-gradient(-45deg, #4871af 0%, #4570c6 50%, #3565b2 51%, #1e57b3 100%, #1e57b3 100%, #1e57b3 100%, #2a5eb2 100%, #3364b2 100%, #1e57b3 100%);
        /* Chrome10-25,Safari5.1-6 */
        background	 : linear-gradient(135deg, #4871af 0%, #4570c6 50%, #3565b2 51%, #1e57b3 100%, #1e57b3 100%, #1e57b3 100%, #2a5eb2 100%, #3364b2 100%, #1e57b3 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter		 : progid:DXImageTransform.Microsoft.gradient( startColorstr='#4871af', endColorstr='#1e57b3',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */
        &:hover {
          color	 : #dfebff;
          opacity: 1;
        }
      }
    }
	
    footer {
      position			: fixed;
      bottom			: 0;
      left				: 0;
      z-index			: 100;
      display			: table;
      width				: 100%;
      font-size			: 70%;
      padding			: 1em;
      background-color	: rgba(0, 0, 0, 0.8);
      color				: #fff;
	  
      p {
        width		: 70%;
        padding-left: 1em;
        display		: table-cell;
        font-weight	: bold;
      }
	  
      small {
        display			: table-cell;
        text-align		: right;
        padding-right	: 2em;
        vertical-align	: middle;
      }
    }
	
    #gotop {
      font-size			: 120%;
      position			: fixed;
      bottom			: -50px;
      left				: 93%;
      z-index			: 1000;
      color				: #fff;
      background-color	: #133a5e;
      width				: 50px;
      height			: 50px;
      line-height		: 50px;
      border-radius		: 50%;
      text-align		: center;
      opacity			: 0.8;
      cursor			: pointer;
	  
      &:hover {
        opacity: 1;
      }
    }
  }
  
  &.js body {
    overflow: hidden;
	
    .menu-panel {
      position	: absolute;
      right		: -240px;
    }
	
    .content {
      position				: absolute;
      top					: 0;
      left					: 0;
      z-index				: 100;
      width					: 100%;
      bottom				: 0;
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }
  
  &.no-js .container {
    padding-right: 240px;
	
    .bb-custom-wrapper nav span, .no-js .menu-button {
      display: none;
    }
	
    .content h3 {
      padding: 40px 1% 20px;
    }
  }
}

@media all and (max-width: 800) {
  .no-js {
    .menu-panel {
      display: none;
    }
	
    .container {
      padding: 0;
    }
  }

  .menu-panel, .content {
    font-size: 75%;
  }
}